
doctype html
html
  head
    title= Anmeldebestätigung
  body
    h1 Anmeldebestätigung
    p Hallo #{name},
    p Vielen Dank für Ihre Anmeldung. Ihre Verkäufernummer lautet #{sellerNumber}.
    p Wir freuen uns auf Ihren Besuch!
    p Ihre Labels können Sie unter folgendem Link herunterladen: #{link}
