
doctype html
html
  head
    title= Anmeldebestätigung
  body
    h1 Anmeldebestätigung Kinder Kommssions-Basar 17.2.2024
    p Hallo #{name},
    p danke für Deine Registrierung zum Kinder-Kommissions-Basar am 17.2.2024. Deine Verkäufernummer ist die #[strong #{sellerNumber}], im Anhang findest Du 2 Dokumente:
    p Die praktischen Hinweise bitte aufmerksam lesen und den Abgabezettel vorab ausdrucken und ausgefüllt in eine deiner Taschen legen.
    p Viele Grüße, Dein Basarteam
    p Für Fragen einfach auf diese Email antworten oder maile an basar@gemeinde-walderseestrasse.de.